[submodule "deps/linux"]
	path = deps/linux
	url = https://github.com/torvalds/linux
[submodule "deps/busybox"]
	path = deps/busybox
	url = git://git.busybox.net/busybox
[submodule "deps/buildroot"]
	path = deps/buildroot
	url = git://git.buildroot.net/buildroot
