[submodule "deps/linux"]
	path = deps/linux
	url = https://github.com/torvalds/linux
[submodule "deps/busybox"]
	path = deps/busybox
	url = git://git.busybox.net/busybox
[submodule "deps/buildroot"]
	path = deps/buildroot
	url = git://git.buildroot.net/buildroot
[submodule "deps/bootstrap"]
	path = deps/bootstrap
	url = https://github.com/twbs/bootstrap
    ignore = dirty
[submodule "deps/bootswatch"]
	path = deps/bootswatch
	url = https://github.com/thomaspark/bootswatch/
[submodule "deps/nginx"]
	path = deps/nginx
	url = https://github.com/nginx/nginx
    ignore = dirty
[submodule "deps/xterm.js"]
	path = deps/xterm.js
	url = https://github.com/sourcelair/xterm.js
