<!doctype html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>{% block title %}[[name]]{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/cyborg/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/main.css" />
</head>
<body>

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">hera sandbox</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">New</a></li>
        <li class="active"><a href="#">Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
          {% block content %}{% endblock %}
        </div>
    </div>
  </div>
</body>
</html>
