{% extends "base.html" %}
{% load url from future %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="welcome">
  <div class="hera-icon-wrapper row"><img src="/static/icon.png" class="hera-icon"></div>
<div class="hero-unit">
  <h1>Sandbox as a Service</h1>
  <p>
    Hera provides an easy API for creation and usage of sandboxes. It gives you full access to a small virtual machine which gives you infinite flexibility.
  </p>
  <p>
	<a href="/accounts/register/" class="btn btn-large btn-primary">Sign up</a>
    <a class="btn btn-large" href="https://github.com/zielmicha/hera">Fork Hera on Github</a>
  </p>
</div>
<div class="hero-unit">
  <div class="span4">
    <h3>Part of the Harnaś Project</h3>
	<p>
      Hera is developed as a part of Haranaś Project - a system for automated checking of programming excercises.
	</p>
	<p>
      <a class="btn" href="https://harnas.ksi.ii.uj.edu.pl">Learn More</a>
	</p>
  </div>
</div>
</div>
{% endblock %}
