{% extends "base.html" %}
{% load url from future %}
{% block title %}Sandbox{% endblock %}
{% block content %}
{% load hera_extras %}
<h2>Sandbox {{ sandbox.vm_id|vm_uuid }}</h2>
<h3>Startup config</h3>
<ul>
  <li>Owner: {{ resource.owner.name }}
  <li>Memory: {{ sandbox.stats_parsed.memory }} MB
  <li>Disk: {{ sandbox.stats_parsed.disk }}
  <li>Timeout: {{ sandbox.stats_parsed.timeout }} s
</ul>
<h3>Temporal data</h3>
<ul>
  <li>Created: {{ resource.created }}
  <li>Closed: {{ resource.closed_at }}
  <li>Running time: {{ resource.running_time|pretty_delta }}
</ul>

{% if not resource.expired %}
<h3>Actions</h3>
<form action="/run/attach" method=POST class="form-horizontal">{% csrf_token %}
  <input type=hidden value="{{ sandbox.vm_id }}" name=vm_id>
  <button class="btn btn-primary" type=submit>Attach console</button>
</form>
{% endif %}

{% endblock %}
